body
{
background-size: cover;
}
.heading{
    width: 100%;
    text-align: left;
    
    }
    .heading h3{
        display: inline;
        font-size: 35px;
    
    
    }
    .heading button{
        float: right;
        border: 1px solid white;
        font-size: 20px;
    }
     #status{
        font-size: 20px;
        margin-top: 20px;
    }
   .button{
    margin-top: 20px;
   }
   #button{
    width: 100px;
    font-size: 20px;
   }
   .modal-dialog{
    width: 70%;
   }
   .copy_right_footer{
    width: 100%;
    position: sticky;
    margin: 0px;
    bottom: 0px;
    background-color:gray;
    color: beige;
    text-align: center;
    line-height: 2.5;
    font-size: 20px;
   }
   canvas{
    border-radius: 5px;
    box-shadow: 5px 5px 5px white;
    margin-bottom: 20px;
   
   }